@import "tailwindcss";

/* I commented out Dark mode/light mode settings... we could always change later.

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

@theme {
  --color-white: #F0F0F0;
  --color-black: #1C1C1C;
  --color-sen-blue: #0D1626;
  --color-sen-yorange: #F6B654;
}

:root {
  font-family: var(--font-instrument-sans), Arial, Helvetica, sans-serif;
}
