@import "tailwindcss";

@theme {
  --color-white: #f0f0f0;
  --color-black: #1c1c1c;
  --color-sen-blue: #0d1626;
  --color-sen-yorange: #f6b654;
}

:root {
  font-family: var(--font-instrument-sans), Arial, Helvetica, sans-serif;
  background-color: var(--color-sen-blue);
}

.backface-hidden {
  backface-visibility: hidden;
}