@import "tailwindcss";

/* I commented out Dark mode/light mode settings... we could always change later.

/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-instrument-sans);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-instrument-sans), Arial, Helvetica, sans-serif;
}
